.navBurger{
    padding: 20px 0;
    background-color: #fff;
    top: 170px;
    .navbar{
        display: flex;
        align-items: flex-start;
        column-gap: 40px;
        &__link{
            padding-bottom: 10px;
            text-decoration: none;
            color: #414D6A;
            font-weight: 500;
            font-size: 17px;
            line-height: 20.62px;
        }
        .activeLink{
            padding-bottom: 10px;
            text-decoration: none;
            color: #304FFF;
            border-bottom: 1px solid #304FFF;
        }
    }
}